---
import BaseLayout from '../layouts/BaseLayout.astro';
import Form from '../components/Form.astro';
---

<BaseLayout>
    <main>
        <div class="container">
            <div class="grid">
                <div class="col-1 border-radius">
                    <h2>Contact Me</h2>
                    <ul>
                        <li>
                            <figure>
                                <img src="../assets/location.svg" alt="" />
                            </figure>
                            <p>siempreviva 350</p>
                        </li>
                        <li>
                            <figure>
                                <img src="../assets/email.svg" alt="" />
                            </figure>
                            <p>janelle@gmail.com</p>
                        </li>
                        <li>
                            <figure>
                                <img src="../assets/phone.svg" alt="" />
                            </figure>
                            <p>351 3114789</p>
                        </li>
                    </ul>
                </div>
                <div class="col-2 border-radius">
                    <h1>Get in Touch</h1>
                    <p>I will answer as soon as posible</p>
                    <Form />
                </div>
            </div>
        </div>
    </main>
</BaseLayout>

<style>
    main {
        min-height: 100vh;
        padding-top: 5rem;
    }

    .grid {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        padding-block: 2rem;
    }

    .col-1 {
        background-color: var(--soft-blue-clr);
        color: #fff;
        padding: 2rem;
        max-width: 300px;
        margin-inline: auto;
        font-size: 14px;
        transform: translateY(-30px);
    }

    .col-1 h2 {
        font-weight: 600;
        margin-bottom: 2rem;
    }

    figure {
        width: 45px;
    }

    li {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-block: 1.5rem;
    }

    .col-2 {
        background: #fff;
        width: 90%;
        margin-inline: auto;
        padding: 3rem 1rem;
    }

    .col-2 h1 {
        font-size: 1.5rem;
    }

    .col-2 p {
        font-size: 16px;
        margin-block: 1rem;
    }

    @media (min-width: 900px) {
        .grid {
            flex-direction: row;
        }

        .col-2 h1 {
            font-size: 2rem;
        }

        .col-2 {
            padding-left: 12rem;
            align-items: start;
            text-align: start;
            margin-right: 5rem;
        }

        .col-1 {
            margin-block: auto;
            height: 500px;
            width: 600px;
            transform: translateX(120px);
        }
    }
</style>
