---
import SocialStar from '../components/SocialStar.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
    <main>
        <div class="container">
            <div class="content-text">
                <h1>
                    <span class="english">English Creative</span>
                    Where <span class="word-color">your</span> English comes to <span
                        class="word-color">life</span
                    >
                </h1>

                <a href="/services/" class="btn">Try it!</a>
            </div>
            <div class="video">
                <img src="../images/video.jpg" alt="home-video" />
            </div>
            <!-- <div class="social border-radius">
                <SocialStar number="+7" description="company experiences" />
                <SocialStar number="+30" description="professionals helper" />
                <SocialStar number="+15" description="speakers conferences" />
            </div> -->
        </div>
    </main>
</BaseLayout>

<style>
    /* Mobile First */
    main {
        margin-block: var(--block-flow-lg);
    }

    .content-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        text-align: center;
    }
    .english {
        display: block;
        font-size: clamp(2.2rem, 5vw, 4.2rem);
    }

    .subtitle {
        font-size: clamp(1rem, 3vw, 2.2rem);
        font-weight: 600;
        font-family: var(--font-third);
    }

    .subtitle span {
        font-family: var(--font-fourth);
        color: var(--soft-green-clr);
        font-size: clamp(1rem, 3vw, 2.5rem);
    }

    .btn {
        display: inline-block;
        background-color: var(--dark-blue-clr);
        color: var(--bg-light-clr);
        font-weight: 600;
        font-size: 18px;
        padding: 1rem 4rem;
        border-radius: 30px;
        transition: background 300ms ease-in-out;
        letter-spacing: 1px;
    }

    .btn:hover {
        opacity: 0.8;
    }

    .video {
        width: min(100%, 1000px);
        margin-inline: auto;
        margin-block: var(--block-flow-md);
    }

    img {
        border-radius: 5px;
    }

    .social {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        text-align: center;
        gap: 2rem;
        padding-block: 2rem;
        max-width: 1000px;
        margin-inline: auto;
    }
</style>
