---
import CardServices from '../components/services/CardServices.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
const allMentoring = await getCollection('mentoring');
const allTranslation = await getCollection('translation');
import TypeWritter from '../components/services/TypeWritter.astro';
import Dialog from '../components/services/Dialog.astro';
---

<BaseLayout>
    <main>
        <div class="container">
            <h1>Services</h1>
            <TypeWritter
                id="profession"
                title="Are you...?"
                text='["an entrepreneur", "a musician","an artist", "a founder of a start-up", "a project leader"]'
            />
            <!-- <TypeWritter
                id="search"
                title="Do you need"
                text='["to pitch your project" , "to translate your material" , "to understand others better" , "to be understood better"]'
            /> -->
            <h2 class="title-2">Language Mentoring</h2>
            <div class="grid">
                {
                    allMentoring.map((item) => (
                        <>
                            <CardServices data={item.data} />
                        </>
                    ))
                }
            </div>
            <h2 class="title-2">Translation</h2>
            <div class="grid">
                {
                    allTranslation.map((item) => (
                        <>
                            <CardServices data={item.data} />
                        </>
                    ))
                }
            </div>
            <div class="wrap-text">
                <p>To find out which services best suit you:</p>
                <button class="survey"> Survey</button>
            </div>
        </div>
    </main>
    <Dialog />
</BaseLayout>

<style>
    main {
        padding-block: var(--block-flow-sm);
        text-align: center;
    }

    .wrap-text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-top: 1rem;
    }

    p {
        font-size: 22px;
        font-family: var(--font-third);
    }

    .title-2 {
        margin-block: 4rem 0.2rem;
        font-family: var(--font-third);
        font-size: 2.5rem;
        font-weight: 400;
    }

    button {
        border: none;
        background-color: transparent;
        color: var(--dark-blue-clr);
        font-size: 20px;
        margin-bottom: 0.6rem;
        cursor: pointer;
        border-bottom: 1px solid var(--dark-blue-clr);
    }

    button:hover {
        color: var(--soft-blue-clr);
        border-bottom: 1px solid var(--soft-blue-clr);
    }

    .grid {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
    }
</style>
