---
import CardServices from '../components/CardServices.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
const allServices = await getCollection('services');
---

<BaseLayout>
    <main>
        <div class="container">
            <h1>Services</h1>
            <div class="wrap-text">
                <p>To find out which services best suit you:</p>
                <button class="survey"> Survey</button>
            </div>

            <div class="grid">
                {
                    allServices.map((service) => (
                        <CardServices data={service.data} />
                    ))
                }
            </div>
        </div>
    </main>
</BaseLayout>

<style>
    main {
        padding-block: var(--block-flow-sm);
        text-align: center;
    }

    .wrap-text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-top: 1rem;
    }

    p {
        font-size: 22px;
        font-family: var(--font-third);
    }

    button {
        border: none;
        background-color: transparent;
        color: var(--dark-blue-clr);
        font-size: 20px;
        margin-bottom: 0.6rem;
        cursor: pointer;
        border-bottom: 1px solid var(--dark-blue-clr);
    }

    button:hover {
        color: var(--soft-blue-clr);
        border-bottom: 1px solid var(--soft-blue-clr);
    }

    .grid {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        margin-top: 4rem;
    }

    @media (min-width: 1000px) {
        .grid {
            gap: 0;
        }
    }
</style>
