---
import BaseLayout from '../layouts/BaseLayout.astro';
import CardTestimonial from '../components/CardTestimonial.astro';
---

<BaseLayout>
    <main>
        <div class="container">
            <h1 class="title">Testimonials</h1>
            <div class="grid">
                <div><CardTestimonial /></div>
                <div><CardTestimonial /></div>
                <div><CardTestimonial /></div>
            </div>
        </div>
    </main>
</BaseLayout>

<style>
    main {
        min-height: 100vh;
        padding-top: 3rem;
    }

    .grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        margin-inline: auto;
    }

    .grid div:nth-child(2) {
        transform: translateX(10rem);
    }

    .grid div:last-child {
        transform: translateX(20rem);
    }
</style>
