---
---

<main>

    <div class="card">
        <div class="card-body">
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam aperiam hic nulla repellendus. Quod nobis cupiditate nostrum, repellat veritatis odit.</h2>
            <p class="name"></p>
            <p class="work"></p>
        </div>
        <figure>
            <img src="" alt="">
        </figure>
    </div>
</main>