@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;600;700&family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Noto+Sans+Kawi:wght@400;500;600&display=swap');

:root {
    --container-max: 1200px;

    --padding-sm: clamp(1rem, 3%, 1.5rem);
    --padding-md: clamp(1.5rem, 6%, 3rem);
    --padding-lg: clamp(3rem, 12%, 6rem);

    --block-flow-sm: min(2rem, 4vh);
    --block-flow-md: min(4rem, 20vh);
    --block-flow-lg: min(8rem, 16vh);

    --font-primary: 'Open Sans', sans-serif;
    --font-secondary: 'Noto Sans Kawi', sans-serif;
    --font-third: 'Baloo Tammudu 2', cursive;
    --font-fourth: 'Dancing Script', cursive;

    /* Colors */
    --bg-light-clr: #f4ece0;
    --bg-dark-clr: #202124;
    --dark-blue-clr: #003ed0;
    --soft-blue-clr: #4e75d0;
    --light-blue-clr: #92a4d0;
    --dark-red-clr: #db3131;
    --soft-red-clr: #fe534c;
    --light-red-clr: #feaca9;
    --dark-orange-clr: #ef7726;
    --soft-orange-clr: #ffc050;
    --light-orange-clr: #fee09c;
    --dark-green-clr: #08564d;
    --soft-green-clr: #459a53;
    --light-green-clr: #b2f2bd;
}

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);

    background: var(--bg-light-clr);
    color: var(--bg-dark-clr);
}

h1 {
    line-height: 1.2;
    font-size: clamp(2rem, 5vw, 4rem);
}

input,
select,
textarea,
button {
    font-family: inherit;
    letter-spacing: 1px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    width: min(100vw - 3rem, var(--container-max, 80ch));
    margin-inline: auto;
}

.bg-color {
    background: var(--bg-light-clr);
}

.border-radius {
    border-radius: 5px;
}

.title {
    font-size: clamp(2rem, 5vw, 4rem);
    line-height: 1.3;
    text-align: center;
    font-family: var(--font-secondary);
    font-weight: 700;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(min(100%, var(--grid-min, 20ch)), 1fr)
    );
}
