---
---

<section>
    <div class="container">
        <div class="wrap-text">
            <p class="up-title">About Me</p>
            <h1>Hi, I'm Janelle</h1>
            <p class="load-word">I’m an explorer</p>
            <p class="description">
                I’m an explorer by nature, always looking for what connects us
                to the world around us. Language is a powerful tool! There is
                nothing I love more than accompanying a wide variety of
                captivating projects while using my talent to share what I love…
                English + Creativity!
            </p>
        </div>
    </div>
</section>

<style>
    section {
        background-color: #f4f4f4;
        padding-block: 5rem;
    }

    .up-title {
        text-transform: uppercase;
        color: var(--grayish-blue);
        font-family: var(--font-secondary);
        letter-spacing: 1.5px;
        line-height: 1;
        background-color: var(--soft-red-clr);
        color: var(--bg-light-clr);
        padding: 0.5rem 0.5rem 0.25rem;
        border-radius: 30px;
        font-weight: 600;
        font-size: 10px;
        width: max-content;
    }

    h1 {
        font-size: clamp(2rem, 6vw, 3.8rem);
        font-weight: 700;
        color: var(--very-dark-blue);
        margin-bottom: 1rem;
        line-height: 1.2;
        text-wrap: balance;
    }

    .load-word {
        font-family: var(--font-secondary);
        font-style: italic;
        font-weight: 600;
        font-size: 2rem;
    }
</style>
